<!--begin: Datatable-->
<table class="table table-bordered table-hover table-checkable" id="amazon_datatable" style="margin-top: 13px !important">
    <thead>
    <tr>
        <th>SR NO</th>
        <th>Fulfillment Type</th>
        <th>Item Type</th>
        <th>Region</th>
        <th>Customer Pays</th>
        <th>Referral Fee</th>
        <th>Closing Fee</th>
        <th>Weight Handling Fee</th>
        <th>Pick & Pack Fee</th>
        <th>GST</th>
        <th>Total Fee</th>
        <th>INR Left</th>
    </tr>
    </thead>
    <tbody>
            <tr>
            <td>1</td>
            <td>FBA</td>
            <td>STANDARD</td>
            <td>LOCAL</td>
            <td>507</td>
            <td>45.63</td>
            <td>15</td>
            <td>22</td>
            <td>10</td>
            <td>16.6734</td>
            <td>109.3034</td>
            <td>397.6966</td>
        </tr>
            <tr>
            <td>2</td>
            <td>FBA</td>
            <td>STANDARD</td>
            <td>REGIONAL</td>
            <td>508</td>
            <td>45.72</td>
            <td>15</td>
            <td>36.5</td>
            <td>10</td>
            <td>19.2996</td>
            <td>126.5196</td>
            <td>381.4804</td>
        </tr>
            <tr>
            <td>3</td>
            <td>FBA</td>
            <td>STANDARD</td>
            <td>NATIONAL</td>
            <td>509</td>
            <td>45.81</td>
            <td>15</td>
            <td>58</td>
            <td>10</td>
            <td>23.1858</td>
            <td>151.9958</td>
            <td>357.0042</td>
        </tr>
            <tr>
            <td>4</td>
            <td>FBA</td>
            <td>STANDARD</td>
            <td>IXD</td>
            <td>500</td>
            <td>20</td>
            <td>12</td>
            <td>40.5</td>
            <td>10</td>
            <td>14.85</td>
            <td>97.35</td>
            <td>402.65</td>
        </tr>
            <tr>
            <td>5</td>
            <td>EASY_SHIP_PRIME</td>
            <td>STANDARD</td>
            <td>LOCAL</td>
            <td>507</td>
            <td>45.63</td>
            <td>25</td>
            <td>32</td>
            <td>0</td>
            <td>18.4734</td>
            <td>121.1034</td>
            <td>385.8966</td>
        </tr>
            <tr>
            <td>6</td>
            <td>EASY_SHIP_PRIME</td>
            <td>STANDARD</td>
            <td>REGIONAL</td>
            <td>508</td>
            <td>45.72</td>
            <td>25</td>
            <td>46.5</td>
            <td>0</td>
            <td>21.0996</td>
            <td>138.3196</td>
            <td>369.6804</td>
        </tr>
            <tr>
            <td>7</td>
            <td>EASY_SHIP_PRIME</td>
            <td>STANDARD</td>
            <td>NATIONAL</td>
            <td>509</td>
            <td>45.81</td>
            <td>25</td>
            <td>68</td>
            <td>0</td>
            <td>24.9858</td>
            <td>163.7958</td>
            <td>345.2042</td>
        </tr>
            <tr>
            <td>8</td>
            <td>EASY_SHIP_PRIME</td>
            <td>STANDARD</td>
            <td>IXD</td>
            <td>500</td>
            <td>20</td>
            <td>11</td>
            <td>NA</td>
            <td>0</td>
            <td>5.58</td>
            <td>36.58</td>
            <td>463.42</td>
        </tr>
            <tr>
            <td>9</td>
            <td>EASY_SHIP_STANDARD</td>
            <td>STANDARD</td>
            <td>LOCAL</td>
            <td>507</td>
            <td>45.63</td>
            <td>28</td>
            <td>32</td>
            <td>0</td>
            <td>19.0134</td>
            <td>124.6434</td>
            <td>382.3566</td>
        </tr>
            <tr>
            <td>10</td>
            <td>EASY_SHIP_STANDARD</td>
            <td>STANDARD</td>
            <td>REGIONAL</td>
            <td>508</td>
            <td>45.72</td>
            <td>28</td>
            <td>46.5</td>
            <td>0</td>
            <td>21.6396</td>
            <td>141.8596</td>
            <td>366.1404</td>
        </tr>
            <tr>
            <td>11</td>
            <td>EASY_SHIP_STANDARD</td>
            <td>STANDARD</td>
            <td>NATIONAL</td>
            <td>509</td>
            <td>45.81</td>
            <td>28</td>
            <td>68</td>
            <td>0</td>
            <td>25.5258</td>
            <td>167.3358</td>
            <td>341.6642</td>
        </tr>
            <tr>
            <td>12</td>
            <td>EASY_SHIP_STANDARD</td>
            <td>STANDARD</td>
            <td>IXD</td>
            <td>500</td>
            <td>20</td>
            <td>8</td>
            <td>NA</td>
            <td>0</td>
            <td>5.04</td>
            <td>33.04</td>
            <td>466.96</td>
        </tr>
            <tr>
            <td>13</td>
            <td>SELF_SHIP</td>
            <td>STANDARD</td>
            <td>LOCAL</td>
            <td>507</td>
            <td>45.63</td>
            <td>32</td>
            <td>NA</td>
            <td>0</td>
            <td>13.9734</td>
            <td>91.6034</td>
            <td>415.3966</td>
        </tr>
            <tr>
            <td>14</td>
            <td>SELF_SHIP</td>
            <td>STANDARD</td>
            <td>REGIONAL</td>
            <td>508</td>
            <td>45.72</td>
            <td>32</td>
            <td>NA</td>
            <td>0</td>
            <td>13.9896</td>
            <td>91.7096</td>
            <td>416.2904</td>
        </tr>
            <tr>
            <td>15</td>
            <td>SELF_SHIP</td>
            <td>STANDARD</td>
            <td>NATIONAL</td>
            <td>509</td>
            <td>45.81</td>
            <td>32</td>
            <td>NA</td>
            <td>0</td>
            <td>14.0058</td>
            <td>91.8158</td>
            <td>417.1842</td>
        </tr>
            <tr>
            <td>16</td>
            <td>SELF_SHIP</td>
            <td>STANDARD</td>
            <td>IXD</td>
            <td>500</td>
            <td>20</td>
            <td>16</td>
            <td>NA</td>
            <td>0</td>
            <td>6.48</td>
            <td>42.48</td>
            <td>457.52</td>
        </tr>
        </tbody>
</table>
<!--end: Datatable-->
