<!--begin: Datatable-->
<table class="table table-bordered table-hover table-checkable" id="amazon_datatable" style="margin-top: 13px !important">
    <thead>
    <tr>
        <th>SR NO</th>
        <th>Fulfillment Type</th>
        <th>Item Type</th>
        <th>Region</th>
        <th>Customer Pays</th>
        <th>Referral Fee</th>
        <th>Closing Fee</th>
        <th>Weight Handling Fee</th>
        <th>Pick & Pack Fee</th>
        <th>GST</th>
        <th>Total Fee</th>
        <th>INR Left</th>
    </tr>
    </thead>
    <tbody>

        <tr>
            <td>"1"</td>
            <td>"1"</td>
            <td>"1"</td>
            <td>"1"</td>
            <td>"1"</td>
            <td>"1"</td>
            <td>"1"</td>
            <td>"1"</td>
            <td>"1"</td>
            <td>"1"</td>
            <td>"1"</td>
            <td>"1"</td>
        </tr>

    </tbody>
</table>
<!--end: Datatable-->
