<!--begin: Datatable-->
<table class="table table-bordered table-hover table-checkable" id="amazon_datatable" style="margin-top: 13px !important">
    <thead>
    <tr>
        <th>SR NO</th>
        <th>Fulfillment Type</th>
        <th>Item Type</th>
        <th>Region</th>
        <th>Customer Pays</th>
        <th>Referral Fee</th>
        <th>Closing Fee</th>
        <th>Weight Handling Fee</th>
        <th>Pick & Pack Fee</th>
        <th>GST</th>
        <th>Total Fee</th>
        <th>INR Left</th>
    </tr>
    </thead>
    <tbody>
            <tr>
            <td>1</td>
            <td>FBA</td>
            <td>STANDARD</td>
            <td>LOCAL</td>
            <td>507</td>
            <td>45.63</td>
            <td>15</td>
            <td>22</td>
            <td>10</td>
            <td>16.6734</td>
            <td>109.3034</td>
            <td>397.6966</td>
        </tr>
            <tr>
            <td>2</td>
            <td>FBA</td>
            <td>STANDARD</td>
            <td>REGIONAL</td>
            <td>507</td>
            <td>45.63</td>
            <td>15</td>
            <td>36.5</td>
            <td>10</td>
            <td>19.2834</td>
            <td>126.4134</td>
            <td>380.5866</td>
        </tr>
            <tr>
            <td>3</td>
            <td>FBA</td>
            <td>STANDARD</td>
            <td>NATIONAL</td>
            <td>507</td>
            <td>45.63</td>
            <td>15</td>
            <td>58</td>
            <td>10</td>
            <td>23.1534</td>
            <td>151.7834</td>
            <td>355.2166</td>
        </tr>
            <tr>
            <td>4</td>
            <td>FBA</td>
            <td>STANDARD</td>
            <td>IXD</td>
            <td>500</td>
            <td>20</td>
            <td>12</td>
            <td>40.5</td>
            <td>10</td>
            <td>14.85</td>
            <td>97.35</td>
            <td>402.65</td>
        </tr>
            <tr>
            <td>5</td>
            <td>EASY_SHIP_PRIME</td>
            <td>STANDARD</td>
            <td>LOCAL</td>
            <td>507</td>
            <td>45.63</td>
            <td>25</td>
            <td>32</td>
            <td>0</td>
            <td>18.4734</td>
            <td>121.1034</td>
            <td>385.8966</td>
        </tr>
            <tr>
            <td>6</td>
            <td>EASY_SHIP_PRIME</td>
            <td>STANDARD</td>
            <td>REGIONAL</td>
            <td>507</td>
            <td>45.63</td>
            <td>25</td>
            <td>46.5</td>
            <td>0</td>
            <td>21.0834</td>
            <td>138.2134</td>
            <td>368.7866</td>
        </tr>
            <tr>
            <td>7</td>
            <td>EASY_SHIP_PRIME</td>
            <td>STANDARD</td>
            <td>NATIONAL</td>
            <td>507</td>
            <td>45.63</td>
            <td>25</td>
            <td>68</td>
            <td>0</td>
            <td>24.9534</td>
            <td>163.5834</td>
            <td>343.4166</td>
        </tr>
            <tr>
            <td>8</td>
            <td>EASY_SHIP_PRIME</td>
            <td>STANDARD</td>
            <td>IXD</td>
            <td>500</td>
            <td>20</td>
            <td>11</td>
            <td>NA</td>
            <td>0</td>
            <td>5.58</td>
            <td>36.58</td>
            <td>463.42</td>
        </tr>
            <tr>
            <td>9</td>
            <td>EASY_SHIP_STANDARD</td>
            <td>STANDARD</td>
            <td>LOCAL</td>
            <td>507</td>
            <td>45.63</td>
            <td>28</td>
            <td>32</td>
            <td>0</td>
            <td>19.0134</td>
            <td>124.6434</td>
            <td>382.3566</td>
        </tr>
            <tr>
            <td>10</td>
            <td>EASY_SHIP_STANDARD</td>
            <td>STANDARD</td>
            <td>REGIONAL</td>
            <td>507</td>
            <td>45.63</td>
            <td>28</td>
            <td>46.5</td>
            <td>0</td>
            <td>21.6234</td>
            <td>141.7534</td>
            <td>365.2466</td>
        </tr>
            <tr>
            <td>11</td>
            <td>EASY_SHIP_STANDARD</td>
            <td>STANDARD</td>
            <td>NATIONAL</td>
            <td>507</td>
            <td>45.63</td>
            <td>28</td>
            <td>68</td>
            <td>0</td>
            <td>25.4934</td>
            <td>167.1234</td>
            <td>339.8766</td>
        </tr>
            <tr>
            <td>12</td>
            <td>EASY_SHIP_STANDARD</td>
            <td>STANDARD</td>
            <td>IXD</td>
            <td>500</td>
            <td>20</td>
            <td>8</td>
            <td>NA</td>
            <td>0</td>
            <td>5.04</td>
            <td>33.04</td>
            <td>466.96</td>
        </tr>
            <tr>
            <td>13</td>
            <td>SELF_SHIP</td>
            <td>STANDARD</td>
            <td>LOCAL</td>
            <td>507</td>
            <td>45.63</td>
            <td>32</td>
            <td>NA</td>
            <td>0</td>
            <td>13.9734</td>
            <td>91.6034</td>
            <td>415.3966</td>
        </tr>
            <tr>
            <td>14</td>
            <td>SELF_SHIP</td>
            <td>STANDARD</td>
            <td>REGIONAL</td>
            <td>507</td>
            <td>45.63</td>
            <td>32</td>
            <td>NA</td>
            <td>0</td>
            <td>13.9734</td>
            <td>91.6034</td>
            <td>415.3966</td>
        </tr>
            <tr>
            <td>15</td>
            <td>SELF_SHIP</td>
            <td>STANDARD</td>
            <td>NATIONAL</td>
            <td>507</td>
            <td>45.63</td>
            <td>32</td>
            <td>NA</td>
            <td>0</td>
            <td>13.9734</td>
            <td>91.6034</td>
            <td>415.3966</td>
        </tr>
            <tr>
            <td>16</td>
            <td>SELF_SHIP</td>
            <td>STANDARD</td>
            <td>IXD</td>
            <td>500</td>
            <td>20</td>
            <td>16</td>
            <td>NA</td>
            <td>0</td>
            <td>6.48</td>
            <td>42.48</td>
            <td>457.52</td>
        </tr>
        </tbody>
</table>
<!--end: Datatable-->
