<table>
    <thead>
        <tr>
            <th>SR NO</th>
            <th>Fulfillment Type</th>
            <th>Item Type</th>
            <th>Region</th>
            <th>Customer Pays</th>
            <th>Referral Fee</th>
            <th>Closing Fee</th>
            <th>Weight Handling Fee</th>
            <th>Pick & Pack Fee</th>
            <th>GST</th>
            <th>Total Fee</th>
            <th>INR Left</th>
        </tr>
    </thead>
    <tbody>
                    <tr>
                <td>1</td>
                <td>FBA</td>
                <td>STANDARD</td>
                <td>LOCAL</td>
                <td>123</td>
                <td>2.46</td>
                <td>12</td>
                <td>22</td>
                <td>10</td>
                <td>8.3628</td>
                <td>54.8228</td>
                <td>68.1772</td>
            </tr>
                    <tr>
                <td>2</td>
                <td>FBA</td>
                <td>STANDARD</td>
                <td>REGIONAL</td>
                <td>124</td>
                <td>2.48</td>
                <td>12</td>
                <td>36.5</td>
                <td>10</td>
                <td>10.9764</td>
                <td>71.9564</td>
                <td>52.0436</td>
            </tr>
                    <tr>
                <td>3</td>
                <td>FBA</td>
                <td>STANDARD</td>
                <td>NATIONAL</td>
                <td>125</td>
                <td>2.5</td>
                <td>12</td>
                <td>58</td>
                <td>10</td>
                <td>14.85</td>
                <td>97.35</td>
                <td>27.65</td>
            </tr>
                    <tr>
                <td>4</td>
                <td>FBA</td>
                <td>STANDARD</td>
                <td>IXD</td>
                <td>122</td>
                <td>2.44</td>
                <td>12</td>
                <td>40.5</td>
                <td>10</td>
                <td>11.6892</td>
                <td>76.6292</td>
                <td>45.3708</td>
            </tr>
                    <tr>
                <td>5</td>
                <td>EASY_SHIP_PRIME</td>
                <td>STANDARD</td>
                <td>LOCAL</td>
                <td>123</td>
                <td>2.46</td>
                <td>8</td>
                <td>32</td>
                <td>0</td>
                <td>7.6428</td>
                <td>50.1028</td>
                <td>72.8972</td>
            </tr>
                    <tr>
                <td>6</td>
                <td>EASY_SHIP_PRIME</td>
                <td>STANDARD</td>
                <td>REGIONAL</td>
                <td>124</td>
                <td>2.48</td>
                <td>8</td>
                <td>46.5</td>
                <td>0</td>
                <td>10.2564</td>
                <td>67.2364</td>
                <td>56.7636</td>
            </tr>
                    <tr>
                <td>7</td>
                <td>EASY_SHIP_PRIME</td>
                <td>STANDARD</td>
                <td>NATIONAL</td>
                <td>125</td>
                <td>2.5</td>
                <td>8</td>
                <td>68</td>
                <td>0</td>
                <td>14.13</td>
                <td>92.63</td>
                <td>32.37</td>
            </tr>
                    <tr>
                <td>8</td>
                <td>EASY_SHIP_PRIME</td>
                <td>STANDARD</td>
                <td>IXD</td>
                <td>122</td>
                <td>2.44</td>
                <td>8</td>
                <td>NA</td>
                <td>0</td>
                <td>1.8792</td>
                <td>12.3192</td>
                <td>109.6808</td>
            </tr>
                    <tr>
                <td>9</td>
                <td>EASY_SHIP_STANDARD</td>
                <td>STANDARD</td>
                <td>LOCAL</td>
                <td>123</td>
                <td>2.46</td>
                <td>5</td>
                <td>32</td>
                <td>0</td>
                <td>7.1028</td>
                <td>46.5628</td>
                <td>76.4372</td>
            </tr>
                    <tr>
                <td>10</td>
                <td>EASY_SHIP_STANDARD</td>
                <td>STANDARD</td>
                <td>REGIONAL</td>
                <td>124</td>
                <td>2.48</td>
                <td>5</td>
                <td>46.5</td>
                <td>0</td>
                <td>9.7164</td>
                <td>63.6964</td>
                <td>60.3036</td>
            </tr>
                    <tr>
                <td>11</td>
                <td>EASY_SHIP_STANDARD</td>
                <td>STANDARD</td>
                <td>NATIONAL</td>
                <td>125</td>
                <td>2.5</td>
                <td>5</td>
                <td>68</td>
                <td>0</td>
                <td>13.59</td>
                <td>89.09</td>
                <td>35.91</td>
            </tr>
                    <tr>
                <td>12</td>
                <td>EASY_SHIP_STANDARD</td>
                <td>STANDARD</td>
                <td>IXD</td>
                <td>122</td>
                <td>2.44</td>
                <td>5</td>
                <td>NA</td>
                <td>0</td>
                <td>1.3392</td>
                <td>8.7792</td>
                <td>113.2208</td>
            </tr>
                    <tr>
                <td>13</td>
                <td>SELF_SHIP</td>
                <td>STANDARD</td>
                <td>LOCAL</td>
                <td>123</td>
                <td>2.46</td>
                <td>6</td>
                <td>NA</td>
                <td>0</td>
                <td>1.5228</td>
                <td>9.9828</td>
                <td>113.0172</td>
            </tr>
                    <tr>
                <td>14</td>
                <td>SELF_SHIP</td>
                <td>STANDARD</td>
                <td>REGIONAL</td>
                <td>124</td>
                <td>2.48</td>
                <td>6</td>
                <td>NA</td>
                <td>0</td>
                <td>1.5264</td>
                <td>10.0064</td>
                <td>113.9936</td>
            </tr>
                    <tr>
                <td>15</td>
                <td>SELF_SHIP</td>
                <td>STANDARD</td>
                <td>NATIONAL</td>
                <td>125</td>
                <td>2.5</td>
                <td>6</td>
                <td>NA</td>
                <td>0</td>
                <td>1.53</td>
                <td>10.03</td>
                <td>114.97</td>
            </tr>
                    <tr>
                <td>16</td>
                <td>SELF_SHIP</td>
                <td>STANDARD</td>
                <td>IXD</td>
                <td>122</td>
                <td>2.44</td>
                <td>6</td>
                <td>NA</td>
                <td>0</td>
                <td>1.5192</td>
                <td>9.9592</td>
                <td>112.0408</td>
            </tr>
                    <tr>
                <td>17</td>
                <td>SELLER_FLEX</td>
                <td>STANDARD</td>
                <td>LOCAL</td>
                <td>123</td>
                <td>2.46</td>
                <td>8</td>
                <td>22</td>
                <td>0</td>
                <td>5.8428</td>
                <td>38.3028</td>
                <td>84.6972</td>
            </tr>
                    <tr>
                <td>18</td>
                <td>SELLER_FLEX</td>
                <td>STANDARD</td>
                <td>REGIONAL</td>
                <td>124</td>
                <td>2.48</td>
                <td>8</td>
                <td>36.5</td>
                <td>0</td>
                <td>8.4564</td>
                <td>55.4364</td>
                <td>68.5636</td>
            </tr>
                    <tr>
                <td>19</td>
                <td>SELLER_FLEX</td>
                <td>STANDARD</td>
                <td>NATIONAL</td>
                <td>125</td>
                <td>2.5</td>
                <td>8</td>
                <td>58</td>
                <td>0</td>
                <td>12.33</td>
                <td>80.83</td>
                <td>44.17</td>
            </tr>
                    <tr>
                <td>20</td>
                <td>SELLER_FLEX</td>
                <td>STANDARD</td>
                <td>IXD</td>
                <td>122</td>
                <td>2.44</td>
                <td>8</td>
                <td>40.5</td>
                <td>0</td>
                <td>9.1692</td>
                <td>60.1092</td>
                <td>61.8908</td>
            </tr>
            </tbody>
</table>

